In [5]:
### TASK 1.2
###Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.###

In [4]:
n = range (2000, 3000)
l = []
i = 2000
for i in n:
    if i%5 !=0:
        if i%7 == 0:
            l.append(i)
        i = i+1
print (l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

In [6]:
### TASK 1.3
### Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [8]:
n = str(input("Enter your First name: "))
m = str(input("Enter your Second name: "))
print ( m, n)

Enter your First name: Pulabarthi
Enter your Second name: Sandeep
Sandeep Pulabarthi

In [9]:
### TASK 1.4
### Write a Python program to find the volume of a sphere with diameter 12 cm.
###Formula: V=4/3 * Ï€ * r 3

In [12]:
pi=22/7
Dia = float(input('Dia of sphere: '))
Radius = Dia/2
volume = (4/3) * (pi * Radius ** 3)
print("Volume of the SPhere is: ", volume)

Dia of sphere: 12
Volume of the SPhere is:  905.1428571428571

In [15]:
### TASK 2.1
###Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [20]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 1, 5, 25
List :  ['1', ' 5', ' 25']
Tuple :  ('1', ' 5', ' 25')

In [16]:
### TASK 2.3
### Write a Python program to reverse a word after accepting the input from the user?

In [17]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: Acadgild
dligdacA

In [18]:
### TASK 2.2
###Create the below pattern using nested for loop in Python.

In [19]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*